.blog-list__post {
	max-width: 800px;
	margin: auto;
	padding: 40px 0;
}

.blog-list__post-title {
	display: inline-block;
	font-size: 26px;
	color: #222;
	margin-bottom: 16px;
	text-decoration: none;
}

.blog-list__post-title:hover {
	text-decoration: underline;
}

.blog-list__post-description {
	font-size: 16px;
	color: #222;
}
